<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="copy">
                <p>Replatform Technologies, LLC 2008-{{ site.time | date: '%Y' }}</p>
            </div>
            <div class="contact">
                {% if site.tel %}<p><a href="tel:{{ site.tel | remove: ' ' }}">TEL: {{ site.tel }}</a></p>{% endif %}
                {% if site.email %}<p><a href="mailto:{{ site.email }}">EMAIL : {{ site.email }}</a></p>{% endif %}
            </div>
        </div>
    </div>
</footer>
